.contianer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.header{
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.btns{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
}
.btns button{
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #f1f1f1;
    color: #333;
    font-size: 16px;
    cursor: pointer;
}
.question{
    margin: auto;
    margin-top: 20px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
    backdrop-filter: blur(14px);
    background-color: rgba(255, 255, 255, 0.2);
    width: 300px;
    text-align: center;
}
.options{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}