.level-card {
    box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
    backdrop-filter: blur(14px);
    background-color: rgba(255, 255, 255, 0.2);
}

.card {
    transition: transform 0.2s ease-in-out;
}